@media screen and (max-width: 1600px) {
    #errorResol {
      padding: 7%;
      display: block;
      background-color: black;
      height: 100vh;
    }
    #errorResol h1 {
      color: white;
    }
    #barAndFooter {
      display: none;
    }
  }
  @media screen and (min-width: 1600px) {
    #errorResol {
      display: none;
    }
    #barAndFooter {
      display: block;
    }
    #calendar {
      padding-right: 10px;
      padding-top: 150px;
      margin-left: 30px;
    }
  }