# All'interno della cartella "documentazione":

# ignora tutto dentro tutte le cartelle
/documentazione/**/*

# tranne tutte le sottocartelle,
!/documentazione/**/*/

# tranne tutti file .tex o pdf presenti in una qualsiasi sottocartella
!/documentazione/**/*.tex
!/documentazione/**/*.pdf

# e tranne la cartella immagini e tutto ciò che v'è al suo interno
!/documentazione/immagini/
!/documentazione/immagini/*
!/documentazione/immagini/**/*/
!/documentazione/immagini/**/*/*
.DS_Store


/proof_of_concept/acquisition/m3u8/*.m3u8
/proof_of_concept/acquisition/frames/*.jpg
/proof_of_concept/acquisition/videos/*.ts
/proof_of_concept/acquisition/frames_pieces/*.png
/proof_of_concept/acquisition/main/__pycache__
/proof_of_concept/acquisition/main/test.log
/proof_of_concept/acquisition/main/test/test.log
/proof_of_concept/prediction/.ipynb_checkpoints
/proof_of_concept/prediction/*.pkl
/proof_of_concept/acquisition/main/test/acceptance_test/__pycache__/

*.pyc
