*{
    padding: 0em;
    margin: 0em;
}

#map { 
	width: 800px;
	height: 600px; 
	border: 1px solid #c3c3c3;
  	display: flex;
    flex-wrap: wrap;
    margin: auto;
    margin-top: 0.5em;
    float: left;
}

a { color: #0077ff; }

html{
    background-color: #fff;
    width: 100%;
}

body{
    margin: auto;
    background-color:#fff;
    font-family: "Arial", "Helvetica" ,sans-serif;
}

h1{
	text-align: center;
    color: #000;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

#reload {
    maring-left: 10em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-right: 0.5em;
    padding-left: 0.5em;
}

#myRange{
	margin-left: 7em;
}

#slider {
    margin-left: 1em;
    paddin-botton: 3em;
    display: inline-block;
}

#calendar {
    float:right;
}